* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

h1 {
    color: #4266C8FF;
    font-size: 80px;
    margin-bottom: 40px;
}

.boxs {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 700px;
    .box {
        width: 400px;
        height: 200px;
        background-color: #C84E7DFF;
        border-radius: 20px;
        text-align: center;
        padding-top: 20px;
        margin-top: 40px;
        position: relative;
        right: 1000px;
        transition: .3s ease;
        &:nth-child(even) {
            right: -1000px;
        }
        &.show {
            right: 0;
        }
        p {
            color: white;
            font-size: 40px;
        }
    }
}